$primary: #222222;
$secondary: #eeeeee;
$grey: #757575;
$orange: #e65100;
$green: #2e7d32;
$blue: #1565c0;
$red: #b71c1c;

.primary-text {
  color: $primary !important;
}

.primary-background {
  background-color: $primary !important;
}

.secondary-text {
  color: $secondary !important;
}

.secondary-background {
  background-color: $secondary !important;
}

.grey-text {
  color: $grey !important;
}

.grey-background {
  background-color: $grey !important;
}

.orange-text {
  color: $orange !important;
}

.orange-background {
  background-color: $orange !important;
}

.green-text {
  color: $green !important;
}

.green-background {
  background-color: $green !important;
}

.blue-text {
  color: $blue !important;
}

.blue-background {
  background-color: $blue !important;
}

.red-text {
  color: $red !important;
}

.red-background {
  background-color: $red !important;
}
